.sidebarcontainer {
  width: 20%;
  float: left;
}

.contentcontainer {
  width: 80%;
  float: right;
}

.well {
  background-color: #000;
  padding: 16px;
}

.verticalflex {
  flex-direction: column;
}

.flex {
  display: flex;
}

.flexspacebetween {
  display: flex;
  justify-content: space-between;
}

.highlight {
  color: #c3921f;
}

.xlarge {
  font-size: 40px;
}

.large {
  font-size: 24px;
}

.small {
  font-size: 14px;
}

.fixedfont {
  font-family: monospace;
}

.sublight {
  color: #6a6a6a;
}

.center {
  text-align: center;
}

.red {
  color: red;
}

.green {
  color: green;
}

.yellow {
  color: yellow;
}

.breakword {
  overflow-wrap: break-word;
}

.primarybutton {
  background-color: #c3921f;
  color: #000;
  font-weight: bold;
  font-size: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 4px;
  border-color: #c3921f;
  margin-left: 8px;
  margin-right: 8px;
}

.primarybutton:disabled,
.primarybutton[disabled] {
  border: 1px solid #999;
  background-color: #ccc;
  color: #666;
}

.primarybutton:hover {
  cursor: pointer;
}

.padtopsmall {
  padding-top: 4px;
}

.padbottomsmall {
  padding-bottom: 4px;
}

.margintopsmall {
  margin-top: 4px;
}

.margintoplarge {
  margin-top: 24px;
}

.marginleft {
  margin-left: 16px;
}

.marginbottomlarge {
  margin-bottom: 24px;
}

.padall {
  padding: 16px;
}

.padsmallall {
  padding: 4px;
}

.blackbg {
  background-color: #000;
}

.maxwidth {
  width: 100%;
}
