.well {
  overflow: hidden;
  background-color: #000000;
  padding: 1em;
}

.balancebox {
  margin: 1em;
}

.txbox {
  margin-bottom: 1em;
}

.highlight {
  color: #c3921f;
}

.xlarge {
  font-size: 2.5em;
}

.large {
  font-size: 1.8em;
}

.small {
  font-size: 0.5em;
}

.sublight {
  color: #6a6a6a;
  font-size: 0.8em;
}

.zecsmallpart {
  padding-left: 0.1em;
}

.txtype {
  width: 20%;
  float: left;
}

.txaddress {
  width: 60%;
  float: left;
}

.txamount {
  width: 20%;
  float: right;
}
