
.balancebox {
  margin: 16px;
}

.txlistcontainer {
  overflow-y: auto;
}

.txbox {
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 4px;
  margin-bottom: 16px;
}

.zecsmallpart {
  padding-left: 2px;
}

.txdate {
  margin-left: 16px;
}

.txtype {
  width: 15%;
  float: left;
}

.txaddress {
  width: 65%;
  float: left;
}

.txamount {
  width: 20%;
  float: right;
}
