.well {
  overflow: hidden;
  background-color: #000000;
  padding: 16px;
}

.balancebox {
  margin: 16px;
}

.txlistcontainer {
  overflow-y: auto;
}

.txbox {
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 8px;
  margin-bottom: 16px;
}

.highlight {
  color: #c3921f;
}

.xlarge {
  font-size: 40px;
}

.large {
  font-size: 24px;
}

.small {
  font-size: 14px;
}

.fixedfont {
  font-family: monospace;
}

.sublight {
  color: #6a6a6a;
  font-size: 12px;
}

.zecsmallpart {
  padding-left: 2px;
}

.txdate {
  margin-left: 16px;
}

.txtype {
  width: 20%;
  float: left;
}

.txaddress {
  width: 60%;
  float: left;
}

.txamount {
  width: 20%;
  float: right;
}
